*{
    background-color: white;
}

body{
    position: relative;
    overflow:scroll;
}
#signUp{
    color: grey;
}
#container{
    padding-left: 20px ;
    padding-bottom: 20px;
    
    height: 320px;
    width: 640px;
    margin: 100px auto;
    overflow: auto;
    /* background-color: blueviolet; */
    border-left: 1px solid grey;
}

#inputFeilds{
    
    float: left;
    width: 320px;
    
}

input:focus{
    background-color:azure;
  outline: none;
}
#socialSites{
    float: right;
    background-image: url(https://images.unsplash.com/photo-1528757980793-e9642d47816a?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=320&ixid=MnwxfDB8MXxyYW5kb218MHx8c2t5fHx8fHx8MTY1NTYyNzk5NA&ixlib=rb-1.2.1&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=280);
    
    position: relative;
    width: 280px;
    height: 100%;
    padding-bottom: 0px;
    
}
.socialHead{
    background: none;
    color: aliceblue;
    display:inline-flex;
    line-height: 0px;

}

.btn{
    border: none;
    text-align: center;
    margin-left: 35px;
    margin-bottom: 20px;
    margin-top: 30px;
    height: 25px;
    width: 200px;
    background-color:lavender;
    cursor: pointer;
}

btn:hover{
    background-color: aqua;

}

input{
    width: 300px;
    margin: 10px;
    border: none;
    display: left;
    text-align: left;
    text-underline-position: below;
    border-bottom: 1px solid grey ;
}

#submit{
    height: 20px;
    width: 80px;
    text-align: center;
    border: 1px solid black;
    background-color: lavender;
    cursor: pointer;
    

}

#submit:hover{
    background-color: skyblue;
}